@tailwind base;
@tailwind components;
@tailwind utilities;









@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}